*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.canvas {
  position: relative;
}

.canvas > img {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-21px);
  opacity: 0.25;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.125rem;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.results__item {
  display: flex;
  padding: 0.75rem 1.125rem;
  font-size: 1.125rem;
  color: #383735;
  border: 1px solid #d1cecc;
}

.search {
  border: 1px solid #666666;
  display: inline-flex;
}

.search:focus-within {
  outline: 2px solid rgb(192, 192, 243);
}

.search__field {
  padding: 1.125rem;
  font-size: 1.125rem;
  flex: 1;
  border: none;
}

.search__field:focus {
  outline: none;
}

.search__field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.search__btn {
  padding: 0 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.search__btn:disabled {
  cursor: not-allowed;
}

.search__btn-icon {
  width: 1.5rem;
}
