*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  --text-result: #383735;
  --border-result: 1px solid #d1cecc;
  --border-search: 1px solid rgba(0, 0, 0, 0.6);
}

.sr-only {
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0);
  opacity: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.125rem;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.results__item {
  display: flex;
  padding: 0.75rem 1.125rem;
  font-size: 1.125rem;
  color: var(--text-result);
  border: var(--border-result);
}

.search {
  border: var(--border-search);
  display: inline-flex;
}

.search:focus-within {
  outline: 2px solid rgba(192, 192, 243, 0.5);
}

.search__field {
  padding: 1.125rem;
  font-size: 1.125rem;
  flex: 1;
  border: none;
}

.search__field:focus {
  outline: none;
}

.search__field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.search__btn {
  padding: 0 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.search__btn:disabled {
  cursor: not-allowed;
}

.search__btn-icon {
  width: 1.5rem;
}
